<div class="container-fluid">
		<div id="WelcomeMessage" class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<h1><b>{{homeTitle}}</b></h1>
				<p>
            The Wisconsin Men's Roller Derby team are made up of 2
            home teams from	all over this Goodland, specifically the Milwaukee, Madison and Appleton areas.
	          We play our home team games in Wisconsin and travel all over the USA battling other
            teams in the Men's Roller Derby Association (MRDA). Our home teams compete January through
            April to take home The Golden Skate. After the home season, the MRDA season kicks off and
            the best of our skaters travel all over the USA competing against other teams with aspirations of
            making it to MRDA Champs in October. Follow us on
            <a class="footer" href="https://www.facebook.com/WisconsinMensRollerDerby/" target="_blank">
                Facebook
            </a>,
            <a class="footer" href="https://twitter.com/WisMensDerby" target="_blank">
                Twitter
            </a>, or
            <a class="footer" href="https://www.instagram.com/wisconsinmensderby/" target="_blank">
                Instagram
            </a>
            to see where we're headed next! If this sounds like something you'd like to get into,
            email us at
            <a href="mailto:info@mensderbyWI.com?Subject=I%20Want%20To%20Play%20Derby!" target="_top">
                info@mensderbyWI.com
            </a>
            and/or join our recruits Facebook group
            <a href="https://www.facebook.com/groups/WMRDRECRUITS/" target="_blank">
                WMRD Recruits
            </a>.
        </p>
			</div>
			<div class="col-xs-1"></div>
		</div>
		<br>
		<div id="PracticeSchedule" class="row">
			<div class="col-xs-12">
				<img class="img-responsive" src="images/main/practicesched.jpg" />
			</div>
		</div>
		<br><br>
		<div id="divSocialMedia" class="row">
            <div id="Facebook" class="col-sm-6 content mobile">
                 <iframe id="iframeFB" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWisconsinMensRollerDerby%2F&tabs=timeline&width=300&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300px" height="1000px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div id="Facebook" class="col-sm-6 content tablet">
                <iframe id="iframeFB" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWisconsinMensRollerDerby%2F&tabs=timeline&width=525&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="525" height="1000px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div id="Facebook" class="col-sm-6 content desktopSM">
                <iframe id="iframeFB" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWisconsinMensRollerDerby%2F&tabs=timeline&width=350&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="350px" height="1000px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div id="Facebook" class="col-sm-6 content desktopMD">
                <iframe id="iframeFB" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWisconsinMensRollerDerby%2F&tabs=timeline&width=450&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="450px" height="1000px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div id="Facebook" class="col-sm-6 content desktopLG">
                <iframe id="iframeFB" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWisconsinMensRollerDerby%2F&tabs=timeline&width=500&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500px" height="1000px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div id="Facebook" class="col-sm-6 content desktopXL">
                <iframe id="iframeFB" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWisconsinMensRollerDerby%2F&tabs=timeline&width=500&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500px" height="1000px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div id="divTwitter" class="col-sm-6">
							<a class="twitter-timeline" data-height="1000" href="https://twitter.com/WisMensDerby">Tweets by WisMensDerby</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
		</div>
	</div>
